body {
  background-color: #282c34;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;

}

.Container {
  height: 40vmin;
  pointer-events: none;
  text-align: center;
  font-size: 35px;
  color: #fff;
  
 
}




